
:root {
--branding-color: #6e4c7d;
--heading-font-family: "Playfair Display", serif;
--default-font-family: monospace;
--primary-font-color: #f7eddc;
}

body {
    background: linear-gradient(180.2deg, rgb(120, 85, 137) -6.9%, rgb(35, 9, 31) 76.7%);
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 100vh;
}

h1 {
    font-family: var(--default-font-family);
    font-size: 96px;
    font-weight: bold;
}

h2,
h3 {
    color: var(--primary-font-color);
    font-family: var(--heading-font-family);
    font-size: 36px;
    font-weight: 500;
}

p {
    background: var (--primary-font-color);
    color: black;
    font-family: var(--heading-font-family);
}

.hero {
    background-color: black;
    color: var(--primary-font-color);
    text-align: center;
    padding: 120px 5px;
}

.hero h2 {
    font-family: var(--heading-font-family);
    font-size: 36px;
    font-weight: 500;
    padding: 10px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 8px;
    color:  black;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    padding: 18px 30px;
}

.main-text {
    font-size: 52px;
    text-decoration: underline;
}

.main-paragraphs {
    color: black;
}

.info-paragraphs {
    background: var(--primary-font-color);
    color: black;
    font-family: var(--heading-font-family);
    border: 3px solid black;
    border-radius: 8px;

}
.main-icons {
    font-size: 150px;
    color: black;
}
