
:root {
--primary-button-color: #c8a6d8; 
--secondary-button-color: #613263;
--secondary-font-family: monospace;
--primary-color: #f7eddc;
--secondary-color: #b7ce0a;
}

body {
    background: linear-gradient(180.2deg, rgb(120, 85, 137) -6.9%, rgb(35, 9, 31) 76.7%);
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 100vh;
    font-family: "Playfair Display", serif;
}

h1 {
    color: var(--secondary-color);
    font-family: var(--secondary-font-family);
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
}

h2 {
    color: var(--primary-color);
    font-size: 32px;
    font-weight: 400;
}

h3 {
    color: black;
    font-size: 32px;
    font-weight: 700;
}

h4 {
    color: var(--primary-color);
    font-size: 46px;
}

p {
    background: var (--primary-color);
    color: black;
    font-size: 18px;
    margin: 0;
}

.hero {
    background-color: black;
    color: var(--primary-color);
    text-align: center;
    padding: 120px 5px;
}

.hero h2 {
    font-size: 36px;
    font-weight: 500;
    padding: 10px;
}

.primary-button {
    background: var(--primary-button-color);
    border-radius: 8px;
    color:  black;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    padding: 18px 30px;
}

.secondary-button {
    background: white;
    color:#613263;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    border: 2px solid #613263;
    border-radius: 8px;
    padding: 18px 30px;
}

.container-paragraphs {
    background: var(--primary-color);
    color: black;
    border-radius: 12px;
     font-weight: 700;
}

.container-paragraphs p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 100;
}
.container-paragraphs h1 {
    font-size: 57px;
    line-height: 70px;
}

.container-paragraphs h3 {
    font-size: 30px;
    line-height: 50px;
}

.container-paragraphs h2 {
    color: black;
    font-size: 38px; 
    font-weight: 700;  
}

.main-icons {
    font-size: 30px;
    color: black;
}

.skills-text-box {
    background: white;
    border-radius: 12px;
}

.hero-projects {
   background-color: black;
    color: var(--primary-color);
    text-align: center;
    padding: 120px 5px;
}

.project-description-left {
    padding-top: 120px;
    padding-right: 60px;;
    text-align: left;
}

.project-description-right {
    padding-top: 120px; 
    padding-left: 60px;
    text-align: right;
}

.projects-paragraphs {
    background: var(--primary-color);
    border-radius: 12px;
}

.projects-paragraphs h2 {
    color: black;
    font-size: 48px;
    font-weight: 700;
}

.hero-projects p {
    color: var(--secondary-color);
    font-family: var(--secondary-font-family);
    font-size: 36px;
    font-weight: 700;
}

.primary-button:hover {
    background: white;
    border: 2px solid var(--secondary-button-color);
    color:var(--secondary-button-color);
}

.secondary-button:hover {
    background: var(--primary-button-color);
    border-radius: 8px;
    color:  black;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    padding: 18px 30px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 64px;
    }

    h3 {
        font-size: 28px;
    }

    .hero {
        padding: 80px 20px;
    }

    .hero h2 {
        font-size: 26px;
    }

    .single-paragraph-text {
        font-size: 32px;
    }

    .info-paragraphs {
        text-align: center;
    }

    .project-description-left {
        padding: 0;
        text-align: center;
    }

    .project-description-right {
        padding: 0;
        text-align: center;
    }
}